<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Individualizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Individualizer.Properties.Settings>
            <setting name="ShowFilePath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckSubDirs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="__DisAllowed__" serializeAs="String">
                <value>.exe,.bat,.mp3,.mp4,.mp5,.avi,.scr,.jpg,.png</value>
            </setting>
        </Individualizer.Properties.Settings>
    </userSettings>
</configuration>